/* orange : #FF5400 */
/* gris sombre background : #272727; */
/* 360 - 966 */
/* inline block */

.logosvg{
    width:120px;
    height: 31px;
}

.iconsvg{
    width: 26px;
}

body{
    background-color: #272727;
    margin:0;
    color:white;
    font-family:proximanova,arial,sans-serif;
}

.logo{
    margin: 20px 20px 20px 20px;
}


.sous-header{
    display:flex;
    justify-content:space-between;
    margin: 2vh 2vw 0 2vw;
    margin:0;
}

header{
    background: url(./../img/bannière.jpg);
    
}

.deux-menus-mid{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:20px;
}

.menu-bas{
    display:flex;
    font-family:proximanova,arial,sans-serif;
    color:white;

}

.menu-haut{
    font-size:15px;
}

ul{
    list-style-type:none;
    display:flex;
    flex-direction: row;
    padding:0;
    font-family:proximanova,arial,sans-serif;
    color:white;
    justify-content:space-between;
    margin:0;
}

li{
    margin:10px;

}

.svg-icons{
    display:flex;
    margin: 20px 20px 20px 20px;
}

.cart-icon{
    padding-right:10px;
    padding-left:50px;
}

.titre{
    color:white;
    font-size:27px;
    font-family: Arial, Helvetica, sans-serif;
    padding : 70px 0 0 50px;
}

.texte-milieu{
    display:flex;
    flex-direction: column;
    padding-bottom: 150px;
}

.promo-prix{
    display:flex;
    padding : 0 0 0 50px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
}

.promo{
    background-color:#FF5400;
    border-radius: 8px 8px 0;
    padding: 6px 6px 5px 7px;
    
}

.prix{
    font-size: 25px;
    padding-left:10px;
    margin:0;
}

.titre-bouton-tendances{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin : 0 25px 0 15px;
    padding-top:10px;
}

button{
    border-radius: 25px;
    font-family:proximanova,arial,sans-serif;
    background: #3D3D3D;
    color:white;
    border:none;
    height: 40px;
    width:100px;
}

.section-3-jeux{
    display:flex;
    justify-content: center;
    padding-top: 20px;
}

.section-1jeu{
    width:28%;
    padding: 0 10px 0 10px;
}

.section-1jeu img{
    width:100%;
    border-radius: 10px;
}

.section-1jeu img:hover{
    width:100%;
    border-radius: 10px;
    src:url(/assets/img/ghost.gif)
}

.titre-prix-jeu{
    display:flex;
    justify-content: space-between;
}

.test{
    background-image : url('/assets/img/spiderman.jpg');
    width:100%;
    height:100%;
}

.test:hover{
    background-image : url('/assets/img/ghost.gif');
    width:500px;
    height:500px;
}

.bandeau-transition{
    display:flex;
    justify-content: space-around;
    padding-top : 30px;
    padding-bottom :30px;
    background-color: black;
}

.ultra-rapide, .fiable-et-sur, .service-client{
    display:flex;
    align-items: center;
    padding: 0 15px 0 15px;
}

.logo-fiable-et-sur, .logo-ultra-rapide, .logo-service-client{
    padding-right:10px;
}

.texte-fiable-et-sur, .texte-ultra-rapide, .texte-service-client{
    font-size: 10px;
}

.texte-fiable-et-sur p, .texte-ultra-rapide p, .texte-service-client p{
    margin : 0;
    color:rgb(174, 174, 174);
}

.titre-fiable-et-sur p, .titre-ultra-rapide p, .titre-service-client p{
    margin : 0;
}
<<<<<<< Updated upstream

.trustpilot-logo{
    background: url(./../img/trustpilot-logo.svg);
    width:110px;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 26px;
}

.trustpilot-stars{
    background: url(./../img/trustpilot-stars.svg);
    width:110px;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 26px;
}

.trustpilot-logo-stars{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.trustpilot-text p{
    font-size: 15px;
}

.trustpilot-text span{
    text-decoration: underline;
}

.bande-rose-transi{
    display:flex;
    background:url(./../img/background.jpg);
    padding-top:3vh;
}

.texte-etoiles-rose{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left:3vw;
    padding-right:5vw;
}

.texte-etoiles-rose p{
    text-align: center;
}

.photo-joueur{
    padding-left : 8vw;
}

.bouton-transi-rose{
    background-color:#FF5400;
    border-radius: 10px;
}

.bouton-transi-rose p{
    padding: 5px 10px;
}

.bandeau-avis{
    display:flex;
    justify-content: space-around;
    padding-top:3vh;
    padding-right:50px;
    padding-left:50px;
}

.top-avis{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.étoiles-avis-nom{
    display:flex;
    flex-direction: column;
    align-items: center;

}

.etoiles-avis img{
    width:100px;
}

.image-avis img{
    border-radius: 24px;
    width:70px;
}

.un-avis{
    background-color:#323232;
    border-radius: 20px;
    padding:30px;
=======
.actions-footer{
    padding: 30px;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.actions-footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.actions-footer .subcribe{
    max-width: 1200px;
    align-self: center;
    width: 100%;
    display: flex;
}
.button{
    border-radius: 8px;
    font-weight: 700;
    font-size: 17px;
    background-color: #ff5400;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    box-sizing: border-box;
    padding: 0 30px;
    transition: .2s;
    border: 0;
    cursor: pointer;
    text-align: center;
    white-space: normal;
}
.icon-send{
    padding-top: 20px;
>>>>>>> Stashed changes
}