body{
    margin:0;
}


.header{
    background-image: url(./assets/img/bannière.jpg);
   
}

.logosvg{
    width:15vw;
}

.iconsvg{
    width:2.5vw;
}

.twosvgicons{
    display:flex;
    flex-direction:row;
}

.nav-dessus{
    color:white;
    display:flex;
    justify-content:space-between;
    font-family: proximanova,arial,sans-serif;
}

.line-logo-svg{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
